<div>
    <h1 class="my-5">home</h1>
    <div class="contents">
        <section class="sections1">
            <div class="books_img_box"><img src="/images/book1.jpg" alt=""></div>
            <div class="books_img_box"><img src="/images/book1.jpg" alt=""></div>
            <div class="books_img_box"><img src="/images/book1.jpg" alt=""></div>
            <div class="books_img_box"><img src="/images/book1.jpg" alt=""></div>
        </section>

        <section class="sections2">
            <div class="benner"><img src="/images/banner.png" alt=""></div>
        </section>

        <section class="sections3">
            <div class="box3"></div>
            <div class="box3"></div>
        </section>
    </div>
</div>