@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* default.css */
*{margin:0; padding:0; vertical-align: top;}
li{list-style:none;}
a{text-decoration:none; }
img{border:0; max-width:100%;}
body { font-family:'Noto Sans KR', 'Gowun Batang', 'Black Han Sans', sans-serif; background: #ffffff; max-width: 1920px; min-width: 320px; margin: 0 auto;}

/* 공통 css */
.title {font-family: 'Gowun Batang'; font-weight: bold;}
.ellipsis {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
.pagination a {position: relative; float: left; padding: 6px 12px; margin-left: -1px; line-height: 1.42857143; color:#000; 
    text-decoration: none; background-color: #fff; border: 1px solid #ddd;}
.pagination .page-item.active .page-link {background-color: #666; border-color: #666;}

/* header */
.main_img {width: 100%; height: 400px; background: url('/images/header2.jpg') no-repeat 50% 76%; background-size: 100%;}

/* contents */
.contents {width: 100%;}
.sections1 {display: flex; flex-wrap: wrap;}
.books_img_box {width: 23.5%; height: auto; margin-right: 2%; background: lightgrey; margin-bottom: 50px;}
.books_img_box:last-child {margin-right: 0;}

.sections2 {display: flex; flex-wrap: wrap; margin-bottom: 50px;}
.box2 {width: 49%; height: 200px; margin-right: 2%; background: lightgray;}
.box2:last-child {margin-right: 0;}

.benner {width: 100%; height: auto;}

/* login */
.login_label {width: 100px; font-weight: bold;}
.login_form {font-weight: bold;}

/* insert */
.insert_label {width: 100px; font-weight: bold;}
.insert_form {font-weight: bold;}

/* search */
.books_thead {height: 35px; line-height: 35px;}
.books_thead input[type="checkbox"] {height: 35px; line-height: 35px;}
.books_tbody {height: 85px; line-height: 85px; cursor: pointer;}
.books_tbody input[type="checkbox"] {height: 85px; line-height: 85px;}
#span_page {vertical-align: middle;}
.checkbox_btn {margin-bottom: 30px;}

/* users_list */
#div_users table td {height: 50px; line-height: 50px;}
.list_photo {border-radius: 50%; border: 1px solid #666; overflow: hidden;}

/* mypage */
.mypage_box {margin-bottom: 30px;}
.mypage_box_img {display: flex; flex-wrap: wrap; align-items: center; justify-content: center;}
.mypage_box_contents {display: flex; flex-wrap: wrap;}
.mypage_text {font-family: 'Gowun Batang'; font-weight:bold; margin: 24px 30px;}
.mypage_text p {margin-bottom: 0;}
#mypage_photo {border: 1px solid #666; border-radius: 50%; padding: 20px;}

/* updata */
.update_image {margin-bottom: 20px 0; display: flex; justify-content: center; align-items: center; }
.profile-image-container {position: relative; display: inline-block; align-items: center; margin-right: 20px; }
.profile-image { width: 150px; height: 150px; border-radius: 50%; border: 1px solid #ccc; padding: 20px; margin-right: 20px; object-fit: cover;}
.file_inputbox {margin: 10px 0; width: calc(100% - 20px); box-sizing: border-box;}
.name {margin-top: 20px;}
input[name="uname"], input[name="phone"], input[name="address1"], input[name="address2"] {font-size: 12px;}


/* change */
.change_pw_text input::placeholder {font-size: 12px;}

/* modal */
.modal_body {padding: 10px 100px;}
.modal_body p {margin-bottom: 0; font-family: 'Gowun Batang'; font-weight: bold;}
.modal_body p:last-child {color: blue;}
.modal_box_top {display: flex; flex-wrap: wrap; }
.modal_box_btm {font-family: 'Gowun Batang'; font-weight: bold;}
.modal_imgbox {display: flex; align-items: center; justify-content: center;}

/* book_list */
.book_list_title {font-family: 'Gowun Batang'; font-weight: bold;}
.list_total_count {font-size: 12px; font-weight: bold;}