<div class="my-5 row justify-content-center">
    <h1 class="text-center mb-5 insert_form">회원가입</h1>
    <form name="frm" class="col-md-6 card p-3" method="post" action="/users/insert">
        <div class="input-group mb-3">
            <div class="col-auto">
                <label for="inputID" class="col-form-label insert_label">ID</label>
              </div>
            <input name="uid" class="form-control">
            <button id="check" class="btn btn-secondary" type="button">중복체크</button>
        </div>
        <div class="input-group mb-3">
            <div class="col-auto">
                <label for="inputID" class="col-form-label insert_label">PW</label>
              </div>
            <input name="upass" class="form-control" type="password">
        </div>
        <div class="input-group mb-3">
            <div class="col-auto">
                <label for="inputID" class="col-form-label insert_label">NAME</label>
              </div>
            <input name="uname" class="form-control" type="uname">
        </div>
        <div class="input-group mb-3">
            <div class="col-auto">
                <label for="inputID" class="col-form-label insert_label">PHONE</label>
              </div>
            <input name="phone" class="form-control">
        </div>
        <div class="input-group mb-2">
            <div class="col-auto">
                <label for="inputID" class="col-form-label insert_label">ADDRESS</label>
              </div>
            <input name="address1" class="form-control">
            <button class="btn btn-secondary">주소 검색</button>
        </div>
        <div>
            <input name="address2" class="form-control mb-4" placeholder="상세주소">
        </div>
        <div class="text-center">
            <button class="btn btn-secondary col-2">등록</button>
            <button class="btn btn-dark col-2" type="reset">취소</button>
        </div>
    </form>
</div>

<script>
    let check="false";

    //폼이 서밋될 때
    $(frm).on("submit", function(e) {
        e.preventDefault();
        //유효성체크
        const uid=$(frm.uid).val();
        const upass=$(frm.upass).val();
        const uname=$(frm.uname).val();
        const phone=$(frm.phone).val();
        const address1=$(frm.address1).val();
        const address2=$(frm.address2).val();

        if(uid == ""){
            alert("아이디를 입력하세요.");
            $(frm.uid).focus();
        } else if(check == false){
            alert("아이디 중복체크를 하세요.")
        } else if(upass == ""){
            alert("비밀번호를 입력하세요.")
            $(frm.upass).focus();
        } else {
            if(confirm("회원가입 하시겠습니까?")){
                frm.submit();
            }
        }
    });

    //아이디 중복체크
    $("#check").on("click", function() {
        const uid=$(frm.uid).val();
        if(uid == ""){
            alert("아이디를 입력하세요.");
            $(frm.uid).focus();
            return;
        }
        $.ajax({
            type:"post",
            url:'/users/login',
            data:{uid:uid},
            success:function(data){
                if(data == 0) {
                    alert("사용가능한 아이디입니다.");
                    check = true;
                } else {
                    alert("이미 사용중인 아이디입니다.")
                }
            }
        });
    });

    $(frm.uid).on("change", function(){
        check = false;
    });
</script>